<h1>APPS NAME</h1>
<p>Edit your profile</p>

{{#with user}}

<form action="/auth/edit-user" method="POST">
   <label> Name
      <input placeholder= "Name" name="name" value="{{name}}">
   </label>
   <label> E-Mail Adress
      <input placeholder= "Email" name="email" value="{{email}}">      
   </label>
   <label> Password
      <input type="password" name="password">
      <input placeholder= "Password" name="password" value="{{password}}">  
   </label>
   <button type="toggle"><0></button>
   <label> Password
      <input placeholder= "Password" name="password" value="{{password}}"> 
   </label>
   <button type="toggle"><0></button>
   <button type="submit">Submit changes</button>
    <button type="delete">Delete</button>
   <button type="redirect">Go Back</button>

</form>


{{/with}}

{{#if errorMessage}}
<h4 style="color: red;">{{errorMessage}}</h4>
{{/if}}