<h1>CREATE NEW COMPANY</h1>


<form method="POST" action="/create-company" enctype="multipart/form-data">
  <input placeholder= "Company Name" name="name" value="{{name}}">
  <br>
  <input placeholder= "Webpage" type="url" name="url" value="{{url}}">
  <br>
  <input placeholder= "Email" type="email" name="email" value="{{email}}">
  <br>
  <input placeholder= "Adress" name="adress" value="{{adress}}">
  <br>
    <select name="size" id="size" >
    <option disabled selected>company size</option>
    {{#each size}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <br>
    <select name="branch" id="branch" >
      <option disabled selected>branch</option>
    {{#each branch}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <br>

  <input placeholder= "Description" name="description" value="{{description}}">
  <br>
  <input type="file" name="image">

  <br>
  <h5>Are you Sustainable?</h5>
  <p>Social: Question 1</p>
  <input placeholder= "Assumption 1" name="social1" value="{{social1}}">
  <br>
<p>Ecological: Question 2</p>
  <input placeholder= "Assumption 1" name="ecological1" value="{{ecological1}}">
  <br>
  <p>Economic: Question 3</p>
  <input placeholder= "Assumption 1" name="economic1" value="{{economic1}}">
  <br>
  <button type="submit">Create Company</button>
</form>

<a href="/">Go Home</a>

{{#if errorMessage}}
<h4 style="color: red;">{{errorMessage}}</h4>
{{/if}}