<h4>EDIT ONE COMPANY</h4>

{{#with company}}

<form method="POST" action="/{{_id}}/edit-company">
  <input placeholder= "Company Name" name="name" value="{{name}}">
  <br>
  <input placeholder= "Webpage" type="url" name="url" value="{{url}}">
  <br>
  <input placeholder= "Email" type="email" name="email" value="{{email}}">
  <br>
  <input placeholder= "Adress" name="adress" value="{{adress}}">
  <br>
  <br>
  <p>your Branch: {{branch}}</p>
  <p>your Companysize: {{size}}</p>
  <br>
  <input placeholder= "Description" name="description" value="{{description}}">
  <br>
  <p>LOGOPOST</p>
  <br>
  <h5>Are you Sustainable?</h5>
  <p>Social: Question 1</p>
  <input placeholder= "Assumption 1" name="social1" value="{{social1}}">
  <br>
<p>Ecological: Question 2</p>
  <input placeholder= "Assumption 1" name="ecological1" value="{{ecological1}}">
  <br>
  <p>Economic: Question 3</p>
  <input placeholder= "Assumption 1" name="economic1" value="{{economic1}}">
  <br>
  <button type="submit">send changes</button>
</form>

<a href="/">Go Home</a>
{{/with}}




{{#if errorMessage}}
<h4 style="color: red;">{{errorMessage}}</h4>
{{/if}}

{{!-- DOESNT WORK WITHIN WITH COMPANY _ CSS or checkout the option selected --}}
    <select name="otherBranches" id="otherBranches" >
          {{!-- <option selected>{{branch}}</option> --}}
    {{#each otherBranches}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>

    <select name="otherSizes" id="otherSizes" >
          {{!-- <option selected>{{branch}}</option> --}}
    {{#each otherSizes}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>