<section class="header">
<div >
  <a href="/"><img src="https://res.cloudinary.com/dk9vuaejm/image/upload/v1619177346/companylogos/07Zeichenfl%C3%A4che_2_2x_zvva5j.png" alt=""></a>
</div>
<ul class="buttons-left">
    <li><a href="/search-result" class="list">show companies</a></li>
    <li><a href="/auth/login" class="user">(:>)</a></li>
    <li><a href="/auth/logout" class="door">>]]</a></li>
    </ul>
{{!-- /* if not logged in signup, if logged in profile*/ change logge out direction--}}
</section>


<section id="body">


{{#with user}}

<div class="welcome">
<h4>hi {{name}}!</h4>
<a href="/auth/edit-user">edit your profile</a>
</div>


<h4>these are your listings:</h4>




<div class="results-parent">
<div class="results-flex">
{{#if ../ownersCompanies}}
{{#each ../ownersCompanies}}
<article class="one-result">
  <h4>{{this.name}}</h4>
<p>{{this.adress}}</p>
<p>{{this.url}}</p>
<p>answered: {{this.answers}}</p>
<p>profed: {{this.proofed}}</p>
<div class="show-btn"><a href="/show/{{this._id}}">show more<br> </a></div>
</article>
{{/each}}
</div>
</div>

{{else}}
<h4> no companys listed yet,</h4>
<a href="/create-company">create one!</a>
{{/if}}

{{/with}}
</section>