<section class="header">
<div class="logo">
  <a href="/"><h1>glass<br>org</h1></a>
</div>
<ul class="buttons-left">
    <li><a href="/search-result" class="list">show companies</a></li>
    <li><a href="/auth/login" class="user">(:>)</a></li>
    <li><a href="/" class="door">>]]</a></li>
</ul>
{{!-- /* if not logged in signup, if logged in profile*/ change logge out direction--}}
</section>


<section id="body">


{{#with user}}

<h4> Hi {{name}}!</h4>

<a href="/auth/edit-user">Edit</a>

<h4> YOUR LISTINGS</h4>




<div class="results-flex"></div>
{{#if ../ownersCompanies}}
{{#each ../ownersCompanies}}
<a>
  <p>{{this.name}}</p>
  <p>{{this.adress}}</p>
  <p>{{this.url}}</p>
  <p>answered: {{this.answers}}</p>
  <p>proofed: {{this.proofed}}</p>
  <div class="show-btn"><a href="/show/{{this._id}}">show more<br> </a></div>
</a>
{{/each}}
</div>
{{else}}
<p> No listings created.</p>
{{/if}}

{{/with}}
</section>