<section class="header">
<div >
  <a href="/"><img src="https://res.cloudinary.com/dk9vuaejm/image/upload/v1619177346/companylogos/07Zeichenfl%C3%A4che_2_2x_zvva5j.png" alt=""></a>
</div>
<ul class="buttons-left">
    <li><a href="/search-result" class="list">show companies</a></li>
   <li><a href="/profile" ><img class="user" src="https://res.cloudinary.com/dk9vuaejm/image/upload/v1619207951/companylogos/user_icon_001_sjujuk.jpg" alt=""></a></li>
    <li><a href="/auth/logout"><img class="door" src="https://res.cloudinary.com/dk9vuaejm/image/upload/v1619207374/companylogos/arrows-06_generated_jnylg4.jpg" alt=""></a></li>
 
    </ul>
{{!-- /* if not logged in signup, if logged in profile*/ change logge out direction--}}
</section>


<section id="body">


{{#with user}}

<div class="welcome">
<h4>hi {{name}}!</h4>
<a href="/auth/edit-user">edit your profile</a>
</div>





<div><h4>these are your listings:</h4>
<div class="results-parent">
<div class="results-flex">
{{#if ../ownersCompanies}}
{{#each ../ownersCompanies}}
<article class="one-result">

  <h4>{{this.name}}</h4>
<p>{{this.adress}}</p>
<p>{{this.url}}</p>
<p>answered: {{this.answers}}</p>
<p>profed: {{this.proofed}}</p>
<div class="show-btn"><a href="/show/{{this._id}}">show more<br> </a></div>
</article>
{{/each}}
</div>
</div>
<a class="gray" href="/create-company" style="color: gray;">if you own more companies, list all of then!</a>
</div>

{{else}}

<a href="/create-company">no companys listed yet, create one!</a>
{{/if}}

{{/with}}
</section>