<section class="header">
<div >
  <a href="/"><img src="https://res.cloudinary.com/dk9vuaejm/image/upload/v1619177346/companylogos/07Zeichenfl%C3%A4che_2_2x_zvva5j.png" alt=""></a>
</div>
<ul class="buttons-left">
    <li><a href="/create-company" class="list">list your company</a></li>
   <li><a href="/profile" ><img class="user" src="https://res.cloudinary.com/dk9vuaejm/image/upload/v1619207951/companylogos/user_icon_001_sjujuk.jpg" alt=""></a></li>
    <li><a href="/auth/logout"><img class="door" src="https://res.cloudinary.com/dk9vuaejm/image/upload/v1619207374/companylogos/arrows-06_generated_jnylg4.jpg" alt=""></a></li>
 
    </ul>
{{!-- /* if not loged in signup, if logged in profile*/ change logge out direction--}}
</section>

<section >

{{#if companiesList}}
<ul class="filter">
<li><h4>filter by branch:</h4></li>  
  <li><a href="/branch=service">service</a></li>
  <li><a href="/branch=sales">sales</a></li>
  <li><a href="/branch=production">production</a></li>
  <li><a href="/branch=other">everything else</a></li>
</ul>


<div class="results-parent">
<div class="results-flex">
{{#each companiesList}}
<article class="one-result">
<h4>{{this.name}}</h4>
<p>{{this.adress}}</p>
<p>{{this.url}}</p>
<p>answered: {{this.answers}}</p>
<p>proved: {{this.proofed}}</p>
<div class="show-btn"><a href="/show/{{this._id}}">show more<br> </a></div>
</article>
{{/each}}
</div>


</div>


{{else}}
<h4>no companies found</h4>
<a href="/create-company">create one!</a>
{{/if}}
</section>