<h4>THIS IS THE SURCH RESULT</h4>

{{#if companiesList}}

<h1>THIS ARE ALL COMPANIES</h1>

<h4>filter by branch</h4>
<a href="/branch=service">Service</a>
<a href="/branch=sales">Sales</a>
<a href="/branch=production">Production</a>
<a href="/branch=other">Everything else</a>



{{#each companiesList}}
<h4>{{this.name}}</h4>
<p>{{this.adress}}</p>
<p>{{this.url}}</p>
<p>answered: {{this.answers}}</p>
<p>proofed: {{this.proofed}}</p>

<a href="/show/{{this._id}}"> show all <br> </a>

{{/each}}




{{else}}
<h1>THERE ARE NO COMPANIES LISTED</h1>
<a href="/create-company">create one!</a>
{{/if}}