<section class="header">
<div >
  <a href="/"><img src="https://res.cloudinary.com/dk9vuaejm/image/upload/v1619177346/companylogos/07Zeichenfl%C3%A4che_2_2x_zvva5j.png" alt=""></a>
</div>
<ul class="buttons-left">
    <li><a href="/search-result" class="list">show companies</a></li>
    <li><a href="/auth/login" class="user">(:>)</a></li>
    <li><a href="/auth/logout" class="door">>]]</a></li>
    </ul>
{{!-- /* if not loged in signup, if logged in profile*/ change logge out direction--}}
</section>

<section id="body">


<section class="show-company">

{{#with thisCompany}}

<article class="company-infos">
<div class="company-head">
<img src="{{this.logo}}" alt="this.name">
<h2>{{name}}</h2>
</div>

<div class="company-specs">
<a href="{{url}}">{{url}}</a>
<p>{{email}}</p>
<p>{{adress}}</p>
<p>company size: {{size}}</p>
<p>branch: {{branch}}</p>
<p>{{description}}</p>
<br>
{{#if ../isOwner}}
<a href="/show/{{_id}}/edit-company">edit listing</a>
{{/if}}

<br>
{{#if ../doesNotRememberYet}}
<a href="/show/{{_id}}/remember">remember this</a>
{{/if}} 

{{#if ../forgetAbout}}
<a href="/show/{{_id}}/leave">forget about</a>
{{/if}}
<br>
<br>
</div>

</article>


<article class="answer-container">
<div class="answers">

<h2>...answered the following questions</h2>
<h6>Do you have more male or more female positions in leading roles of your business?</h6>

<div class="proof-container">

{{#if social1}}
<p>{{social1}}<p/> 
{{else}}
<p>no comment<p/> 
{{/if}}
<br>

{{#if ../isOwner}}
{{#unless this.proof1}}
<a href="/proof/{{this._id}}/1">prove it!</a>
{{/unless}}
{{/if}}


{{#if this.proof1}}
{{#unless ../isOwner}}
<a href="{{this.proof1}}" target="_blank">show prove</a>
{{/unless}}
{{/if}}


<div class="check-owner">
{{#if this.proof1}}
{{#if ../isOwner}}
<a href="{{this.proof1}}" target="_blank">proved</a>
<a href="/proof/{{this._id}}/1">change picture</a>
{{/if}}
{{/if}}
</div>

</div>

</div>


<div class="answers">
<h6>Do you pay taxes on your product/service where your costumer is based?</h6>

<div class="proof-container">


{{#if economic1}}
<p>{{economic1}}<p/> {{else}}
<p>no comment<p/> 
{{/if}}


{{#if ../isOwner}}
{{#unless this.proof2}}
<a href="/proof/{{_id}}/2">prove it!</a>
{{/unless}}
{{/if}}


{{#if this.proof2}}
{{#unless ../isOwner}}
<a href="{{this.proof2}}" target="_blank">show prove</a>
{{/unless}}
{{/if}}


<div class="check-owner">
{{#if this.proof2}}
{{#if ../isOwner}}
<a href="{{this.proof2}}" target="_blank">proved</a>
<a href="/proof/{{this._id}}/2">change picture</a>
{{/if}}
{{/if}}
</div>

</div>
</div>

<div class="answers">
<h6>Is your company running completely on renewable energy?</h6>

<div class="proof-container">


{{#if ecological1}}
<p>{{ecological1}}<p/> 
{{else}}
<p>no comment<p/> 
{{/if}}

{{#if ../isOwner}}
{{#unless this.proof3}}
<a href="/proof/{{_id}}/3">prove it!</a>
{{/unless}}
{{/if}}


{{#if this.proof3}}
{{#unless ../isOwner}}
<a href="{{this.proof3}}" target="_blank">show prove</a>
{{/unless}}
{{/if}}


<div class="check-owner">
{{#if this.proof3}}
{{#if ../isOwner}}
<a href="{{this.proof3}}" target="_blank">proved</a>
<a href="/proof/{{this._id}}/3">change picture</a>
</div>

{{/if}}
{{/if}}

</div>
</div>



<div class="answers">
<h6>What percentage of the CO2 your buisness is producting are you compensating?</h6>

<div class="proof-container">


{{#if ecological2}}
<p>{{ecological2}}<p/> 
{{else}}
<p>no comment<p/> 
{{/if}}

{{#if ../isOwner}}
{{#unless this.proof4}}
<a href="/proof/{{this._id}}/4">prove it!</a>
{{/unless}}
{{/if}}


{{#if this.proof4}}
{{#unless ../isOwner}}
<a href="{{this.proof4}}" target="_blank">show prove</a>
{{/unless}}
{{/if}}


<div class="check-owner">
{{#if this.proof4}}
{{#if ../isOwner}}
<a href="{{this.proof4}}" target="_blank">proved</a>
<a href="/proof/{{this._id}}/4">change picture</a>
{{/if}}
{{/if}}
</div>


</div>
</div>



</article>

{{/with}}

</section>
</section>

