<h4>this is the company</h4>


{{#with thisCompany}}
<p>{{name}}</p>
<p>{{url}}</p>
<p>{{email}}</p>
<p>{{adress}}</p>
<p>COMPANYSIZE: {{size}}</p>
<p>BRANCH: {{branch}}</p>
<p>{{description}}</p>
<img src="{{this.logo}}" alt="this.name">
<p>FIRST ASSUMPTION {{social1}}</p>
<p>SECOND ASSUMPTION {{ecological1}}</p>
<p>THIRD ASSUMPTION{{economic1}}</p>

<a href="/show/{{this._id}}/edit-company">Edit</a>

{{#if doesNotRememberYet}}
<a href="/show/{{_id}}/remember">remember this</a>
{{/if}} 

{{#if forgetAbout}}
<a href="/show/{{_id}}/leave">forget about</a>
{{/if}}



<br>
<br>
{{/with}}



<a href="/">Go Home</a>